@page
@model ProjectManager.Pages.Clients.NewClient

@{
    ViewData["Title"] = "New Client";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Client.Name" class="form-label">Name</label>
                <input asp-for="Client.Name" class="form-control"/>
                <span asp-validation-for="Client.Name" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Email" class="form-label">Email</label>
                <input asp-for="Client.Email" class="form-control"/>
                <span asp-validation-for="Client.Email" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Phone" class="form-label">Phone Number</label>
                <input asp-for="Client.Phone" class="form-control"/>
                <span asp-validation-for="Client.Phone" class="text text-danger"></span>
            </div>
            <button class="wt-20 col-20 btn btn-primary btn-lg">Add Client</button>
        </form>
    </div>
</div>
