@page
@model ProjectManager.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Project Manager</h1>

<div id="manage-feature">
    <a class="btn btn-primary" href="/Features/ManageFeature">Manage Features</a>
</div>


<div class="text-center">
    <p>Welcome to the feature tracker</p>
</div>
