@page
@model ProjectManager.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Project Manager</h1>

<div class="d-flex">
    <div class="mx-3" id="manage-features">
        <a class="btn btn-primary" href="/Features/ManageFeature">Manage Features</a>
    </div>
    
    <div class="mx-3" id="manage-projects">
        <a class="btn btn-primary" href="/Projects/ManageProject">Manage Projects</a>
    </div>
    
    <div class="mx-3" id="manage-clients">
        <a class="btn btn-primary" href="/Clients/ManageClient">Manage Clients</a>
    </div>
</div>

<br/>

<div class="text-center">
    <p>Welcome to the feature tracker</p>
</div>
